@font-face {
    src: url(/fonts/Tiny5-Regular.ttf);
    font-family: tiny5;
}

* {
    font-family: tiny5;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#calculator {
    background-color: hsl(0, 0%, 10%);
    border-radius: 10px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 95%);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 25%);
}

button:active {
    background-color: hsl(0, 0%, 30%);
}

.op-btn {
    background-color: hsl(40, 100%, 45%);
}

.op-btn:hover {
    background-color: hsl(40, 100%, 50%);
}

.op-btn:active {
    background-color: hsl(40, 100%, 55%);
}